__pycache__
pretrained_models
rawAudio
noiseCancelled
audioChunks
spleeteredAudio
textFiles
privateKeys
translatedFiles
lda_topic_modelling/articles-corpus/
bertopic_model
bertopic_model_custom_labels 
70_*
80_*
90_*
data/docs_*
lda_topic_modelling/simplewiki-20170201-pages-articles-multistream
lda_topic_modelling/docs_wiki.pkl