spleeter==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
librosa==0.10.2.post1
noisereduce==3.0.3
tensorflow-cpu==2.9.0
pydub==0.25.1
numpy==1.26.4
nltk==3.9.1
pandas==1.5.3
ffmpeg-python==0.2.0
faster-whisper==1.1.1
torch
torchvision
torchaudio
protobuf==3.19.0
google-api-core==2.8.2
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-cloud-speech==2.15.1
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grpcio==1.70.0
grpcio-status==1.49.0rc1
deep-translator==1.11.4
bertopic==0.16.4
gensim
emoji
contractions
fastapi
python-multipart
uvicorn